/*
style.css 
Contener el código CSS 
*/
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ff6600, #ff99cc, #3333cc);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

body * {
    margin: 0; 
    padding: 0;
}

.content {
    background-image: url('../img/Yoshifumon.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;   
}

ul {
    list-style: none;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

input[type="radio"] {
    width: 21px;
    height: 21px;
}

button {
    background: radial-gradient(circle, #654cb2, #b04579, #fca635);
}